body{
    background-image: url('../img/fondoBodySimiv.png');
    background-size:cover;
    padding: 0px;
    position: relative;
    background-attachment:fixed;
    background-repeat: no-repeat;
    display: flex;  
}
.logos{
    width: 100%;
    height: 100px;
    position: absolute;   
}
#letras1{
    width: 250px;
    height: 80px;
    padding: 10px 10px;
    position: absolute;
}
#letras2{
    width: 400px;
    height: 80px;
    padding: 10px 10px;
    margin-left:auto;
    display: flex;
}
#lineaTop{
    width: 100%;
    border: #004964 solid 2px;
    position: absolute;
    margin-top: 110px;   
}
main{
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;  
}
.BoxSesion{
    width: 600px;
    height: 600px;
    border-radius: 20px;
    background-color:white;
    box-shadow: #505253 2px 5px 10px;
}
h1{
    font-family:Candara, Calibri, Segoe;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 10px;   
}
#logoSimiv{
    width: 300px;
    height: 300px;
    margin-top: -75px;
}
h2{
    font-family:Candara, Calibri, Segoe;
    font-size: 1.3rem;
    position:relative;
    margin-top: -50px; 
}
.formulario{
    align-items: center;
    font-family:Candara, Calibri, Segoe;
    margin-top: 30px;
}
label{
    font-size: 1.1rem;
}
#pass{
    font-family:Candara, Calibri, Segoe;
    font-size: 1.5rem;
    width: 80%;
    height: 30px;
    border-style: none;
    border-bottom: solid #004964;
}
#boton{
    font-family:Candara, Calibri, Segoe;
    font-size: 1.5rem;
    width: 50%;
    height: 50px;
    margin-top: 60px;
    background-color:#bdc8d1;
    border-radius: 50px;
    border-style: none;
    box-shadow: #505253 2px 5px 10px;
}
#lineaBottom{
    width: 100%;
    border: #EC0E65 solid 2px;
    position: absolute;
    margin-top: 800px;
}
footer{
width:100%;
position:fixed;
text-align: center;
margin-top: 83%;
}
.pie{
    font-family:Candara, Calibri, Segoe;
    font-size: 1.2rem;
    color: rgb(253, 252, 252);
}
.pie p span a{
    color: white;
    text-decoration:none ;
}
a{
    text-decoration: none;
}