body{
    background-image: url('../img/fondoBodySimiv2.png');
    background-size:cover;
    padding: 0px;
    position: relative;
    background-attachment:fixed;
    background-repeat: no-repeat;
    display: flex;
    font-family:Candara, Calibri, Segoe;
}
header{
    position:fixed;
    
}
img{
    width: 80px;
    
}
nav{
    position:relative;
    width:100%;
    border-radius: 10px;
    margin: 10px;
    box-shadow: #505253 2px 5px 10px;  
}
.libBox{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: #505253 2px 5px 10px;   
}
#box1{
    position:absolute;
    margin-top: 150px;
    margin-left: 10px;
}
#box2{
    position:absolute;
    margin-top: 150px;
    margin-left: 510px;
}
#box3{
    position:absolute;
    margin-top: 150px;
    margin-left: 1010px;
}
#box4{
    position:absolute;
    margin-top: 150px;
    margin-left: 1510px;
}
#box5{
    position:absolute;
    margin-top: 500px;
    margin-left: 10px;
}
#box6{
    position:absolute;
    margin-top: 500px;
    margin-left: 510px;
}
#box7{
    position:absolute;
    margin-top: 500px;
    margin-left: 1010px;
}
#box8{
    position:absolute;
    margin-top: 500px;
    margin-left: 1510px;
}
.estado{
    text-align: center;
    color: white;
    width: 100%;
    height: 2rem;
    background-color: #006494;  
}
#logoreg{
    margin-left: 50px;
    margin-right: 50px;   
}
.userlog{
    border-style:inset;
    background-color: #006494;
    color: white;
    padding: 5px;
    margin-right: 50px;
}
.piemenu{
    position:fixed;
    margin-top: 45%;
    width: 100%;
    padding: 5px;
    text-align: center;
}
#letras1{
    width: 250px;
    margin-right: 20px;
}