body{
    background-image: url('../img/fondoBodySimiv.png');
    background-size:cover;
    padding: 0px;
    position: relative;
    background-attachment:fixed;
    background-repeat: no-repeat;
    display: flex;  
}
.logos{
    width: 100%;
    height: 100px;
    position: absolute;   
}
#letras1{
    width: 250px;
    height: 80px;
    padding: 10px 10px;
    position: absolute;
}
#letras2{
    width: 400px;
    height: 80px;
    padding: 10px 10px;
    margin-left:auto;
    display: flex;
}
#lineaTop{
    width: 100%;
    border: #004964 solid 2px;
    position: absolute;
    margin-top: 110px;   
}
main{
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;  
}
.BoxSesion{
    width: 600px;
    height: 600px;
    border-radius: 20px;
    background-color:white;
    box-shadow: #505253 2px 5px 10px;

}
#lineaBottom{
    width: 100%;
    border: white solid 2px;
    position: absolute;
    margin-top: 800px;   
}
h1{
    font-family:Candara, Calibri, Segoe;
    font-size: 2.5rem;
    padding: 10px;
    margin-top: 10px;
    
}
#logoSimiv{
    width: 500px;
    height: 500px;
    margin-top: -150px;
}
h2{
    font-family:Candara, Calibri, Segoe;
    font-size: 2rem;
    position:relative;
    margin-top: -100px;
}
#usuario{
    font-family:Candara, Calibri, Segoe;
    font-size: 1.5rem;
    width: 80%;
    height: 30px;
    border-style: none;
    border-bottom: solid #004964;
}
#boton{
    font-family:Candara, Calibri, Segoe;
    font-size: 1.5rem;
    width: 50%;
    height: 50px;
    margin-top: 40px;
    background-color:#bdc8d1;
    border-radius: 50px;
    border-style: none;
    box-shadow: #505253 2px 5px 10px;
}
.piePag{
    position:absolute;
    font-family:Candara, Calibri, Segoe;
    font-size: 1.5rem;
    color: white;
    margin-top:80%;
}



