body{
    background-image: url('../img/fondoBodySimiv.png');
    background-size:cover;
    padding: 0px;
    position: relative;
    background-attachment:fixed;
    background-repeat: no-repeat;  
}

.menu1{
    height: 100px;
    width: 100%;
    position: relative;
}
.letras1 img{
    width: 150px;
    height: 50px;
    padding: 10px 10px;
    position:absolute;
}
.letras2 img{
    width: 250px;
    height: 50px;
    padding:10px;
    margin-right: 100%;
}
hr{
    height: 3px;
    width: 100%;
    background-color: #004964;  
}

